<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBsF6rTtWZQNZ03Yx6W2QIUJ5u_XATHHA</string>
	<key>GCM_SENDER_ID</key>
	<string>318969516528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.podo.DesignItYourself</string>
	<key>PROJECT_ID</key>
	<string>designityourself-af2d3</string>
	<key>STORAGE_BUCKET</key>
	<string>designityourself-af2d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318969516528:ios:c1af7d69ab2cd19dd64d35</string>
</dict>
</plist>